<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
  <head>
  <title>Angular</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Angular CSS -->
        <script src="/assets/js/libs/angular.min.js"></script>
        <script src="/assets/js/libs/angular-resource.min.js"></script>
       <script src="/assets/js/libs/angular-route.min.js"></script>
        <script src="/assets/js/app/app.js"></script>


  </head>
  <body>
  <!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">
    <img src="/assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Angular JS
  </a>

</nav>
  